.center {
  background: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  padding: 20px !important;
  border-radius: 2%;
  box-shadow: 0 15px 25px;
}
